In [27]:
# Libraries needed
import numpy as np
import pandas as pd

In [29]:
# loading the data from 3 different data sources
price_df = pd.read_csv('airbnb_explore_project/airbnb_price.csv')
room_df = pd.read_excel('airbnb_explore_project/airbnb_room_type.xlsx')
review_df = pd.read_csv('airbnb_explore_project/airbnb_last_review.tsv', sep='\t')

# Show data sample to make sure everything looks good
print(price_df.head())
print(room_df.head())
print(review_df.head())

   listing_id        price                nbhood_full
0        2595  225 dollars         Manhattan, Midtown
1        3831   89 dollars     Brooklyn, Clinton Hill
2        5099  200 dollars     Manhattan, Murray Hill
3        5178   79 dollars  Manhattan, Hell's Kitchen
4        5238  150 dollars       Manhattan, Chinatown
   listing_id                                description        room_type
0        2595                      Skylit Midtown Castle  Entire home/apt
1        3831            Cozy Entire Floor of Brownstone  Entire home/apt
2        5099  Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3        5178            Large Furnished Room Near B'way     private room
4        5238         Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
   listing_id    host_name   last_review
0        2595     Jennifer   May 21 2019
1        3831  LisaRoxanne  July 05 2019
2        5099        Chris  June 22 2019
3        5178     Shunichi  June 24 2019
4        5238          Ben  June 09 2019

In [31]:
# Merge the 3 dataframes into one
# Can only merge 2 data frames at a time

df = pd.merge(price_df, room_df, on='listing_id')
df = pd.merge(df, review_df, on='listing_id')

df.head()

,listing_id,price,nbhood_full,description,room_type,host_name,last_review
0,2595,225 dollars,"Manhattan, Midtown",Skylit Midtown Castle,Entire home/apt,Jennifer,May 21 2019
1,3831,89 dollars,"Brooklyn, Clinton Hill",Cozy Entire Floor of Brownstone,Entire home/apt,LisaRoxanne,July 05 2019
2,5099,200 dollars,"Manhattan, Murray Hill",Large Cozy 1 BR Apartment In Midtown East,Entire home/apt,Chris,June 22 2019
3,5178,79 dollars,"Manhattan, Hell's Kitchen",Large Furnished Room Near B'way,private room,Shunichi,June 24 2019
4,5238,150 dollars,"Manhattan, Chinatown",Cute & Cozy Lower East Side 1 bdrm,Entire home/apt,Ben,June 09 2019

In [33]:
df.info

<bound method DataFrame.info of        listing_id        price                 nbhood_full  \
0            2595  225 dollars          Manhattan, Midtown
1            3831   89 dollars      Brooklyn, Clinton Hill
2            5099  200 dollars      Manhattan, Murray Hill
3            5178   79 dollars   Manhattan, Hell's Kitchen
4            5238  150 dollars        Manhattan, Chinatown
...           ...          ...                         ...
25204    36425863  129 dollars  Manhattan, Upper East Side
25205    36427429   45 dollars            Queens, Flushing
25206    36438336  235 dollars  Staten Island, Great Kills
25207    36442252  100 dollars           Bronx, Mott Haven
25208    36455809   30 dollars          Brooklyn, Bushwick

                                      description        room_type  \
0                           Skylit Midtown Castle  Entire home/apt
1                 Cozy Entire Floor of Brownstone  Entire home/apt
2       Large Cozy 1 BR Apartment In Midtown East  Entire home/apt
3                 Large Furnished Room Near B'way     private room
4              Cute & Cozy Lower East Side 1 bdrm  Entire home/apt
...                                           ...              ...
25204  Lovely Privet Bedroom with Privet Restroom     PRIVATE ROOM
25205                    No.2 with queen size bed     PRIVATE ROOM
25206                             Seas The Moment     Private room
25207               1B-1B apartment near by Metro  Entire home/apt
25208     Cozy Private Room in Bushwick, Brooklyn     Private room

         host_name   last_review
0         Jennifer   May 21 2019
1      LisaRoxanne  July 05 2019
2            Chris  June 22 2019
3         Shunichi  June 24 2019
4              Ben  June 09 2019
...            ...           ...
25204        Rusaa  July 07 2019
25205         Hâ€†Ai  July 07 2019
25206          Ben  July 07 2019
25207       Blaine  July 07 2019
25208    Christine  July 08 2019

[25209 rows x 7 columns]>

In [35]:
df.dtypes

listing_id      int64
price          object
nbhood_full    object
description    object
room_type      object
host_name      object
last_review    object
dtype: object

In [37]:
# Need to determine the earliest and most recent review dates

# Need to convert last_review column to date format
df['last_review'] = pd.to_datetime(df['last_review'])

#df.dtypes

# Find the earliest review
first_reviewed = df['last_review'].min()

# Find the most recent review
last_reviewed = df['last_review'].max()

print('First received - ', first_reviewed)
print('Last received - ', last_reviewed)

First received -  2019-01-01 00:00:00
Last received -  2019-07-09 00:00:00

In [39]:
# Find how many listings are private rooms

# Since there are differences in capitalization, make capitalization consistent
df['room_type'] = df['room_type'].str.lower()

# Filter the room_type column to find all only 'private_rooms' then use shape to count
nb_private_rooms = df[df['room_type'] == 'private room'].shape[0]

print('Number of private rooms: ', nb_private_rooms)

Number of private rooms:  11356

In [41]:
# Find the average price of listings

# Need to remove 'dollars' from price column before coverting to float
df['price'] = df['price'].str.replace('dollars', '')
#df.head()

# Need to convert the price column to float values to find their mean.
df['price'] = df['price'].astype(float)
#df.dtypes

# Find the average price of listings
avg_price = df['price'].mean().round(2)

print('Average price: ', avg_price)

Average price:  141.78

In [43]:
# Create a Dataframe with the four solution values

review_dates = pd.DataFrame([[first_reviewed, last_reviewed, nb_private_rooms, avg_price]],     columns=['first_reviewed', 'last_reviewed', 'nb_private_rooms', 'avg_price'])

print(review_dates)

  first_reviewed last_reviewed  nb_private_rooms  avg_price
0     2019-01-01    2019-07-09             11356     141.78